@use "sass:math";

.modal {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 901;

  .inner {
    min-height: 100%;
    position: relative;
  }

  .mask {
    background: rgba(color("black"), 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 902;
  }

  .button-close {
    align-items: center;
    background: color("white");
    border-radius: 50%;
    color: color("black");
    cursor: pointer;
    display: flex;
    font-weight: 900;
    font-size: rem(14px);
    height: rem(24px);
    line-height: 1;
    justify-content: center;
    position: absolute;
    right: rem(8px);
    top: rem(8px);
    width: rem(24px);

    @include breakpoint("desktop") {
      font-size: rem(20px);
      height: rem(32px);
      width: rem(32px);
    }
  }

  .inside {
    left: 10%;
    padding: rem(32px) 0 rem(64px);
    position: relative;
    top: 0;
    width: 80%;
    z-index: 903;

    @include breakpoint("desktop") {
      left: 50%;
      margin-left: -#{math.div(width("desktop"), 2)};
      padding: rem(96px) 0 rem(120px);
      width: rem(800px);
      width: width("desktop");
    }
  }

  .content {
    background: color("black");
    border: rem(4px) solid color("white");
    border-radius: rem(16px);
    color: color("white");
    font-size: rem(16px);
    font-weight: 300;
    line-height: 1.25;
    padding: rem(24px);
    position: relative;

    @include breakpoint("desktop") {
      font-size: rem(18px);
    }

    p {
      margin-bottom: rem(16px);

      @include breakpoint("desktop") {
        margin-bottom: rem(18px);
      }
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
